@charset "UTF-8";

.wrap{
    width: 1200px;
    margin: 0 auto;
    position: relative;
}



/* header영역 */
#header{
    width: 1200px;
    height: 100px;
    /* background-color: rgb(216, 255, 216); */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    padding: 30px 0;
}
.logo a{
    display: block;
    width: 200px;
    height: 40px;
}
.logo a img{}

.nav{
    align-self: self-end;
    /* 나혼자 바닥에 닿음 */
}

.h_menu{}
.h_menu>li{
    display: inline-block;
    position: relative;
}
.h_menu>li>a{
    display: block;
    width: 150px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: rgb(94, 144, 19);
}
.h_menu>li:hover>a{
    background-color: #88888827;
}

.sub{
    position: absolute;
    left: 0; top: 50px;
    width: 100%;
    z-index: 10;
    display: none;
}
.sub li{}
.sub li a{
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    /* background-color: whitesmoke; */
    color: #888;
}
.sub li a:hover{
    background-color: gainsboro;
    color: rgb(94, 144, 19);
}

.sub_bg{
    z-index: 5;
    position: absolute;
    top: 100px;
    left: 0;
    background-color: rgba(240, 255, 255, 0.619);
    width: 100%;
    height: 130px;
    display: none;
}



/* section영역 */
#section{
    width: 100%;
    height: 500px;
    /* background-color: thistle; */
}

.slide_img{
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
}

.left_move{width: 3600px;
    position: absolute;
}
.left_move li{
    float: left;
}
.left_move li a{}
.left_move li a img{}


.contents{height: 200px; display: flex; justify-content: space-between;}
.contents>div{
    height: 200px;
    width: 390px;
    /* background-color: beige; */
}
.contents h3{
    width: 100px;
    height: 25px;
    background-color: lightpink;
    color: gray;
    text-align: center;
    line-height: 25px;
    border-radius: 10px 10px 0 0;
    margin-left: 20px;
}
.contents ul{
    width: 100%;
    height: 165px;
    border-top: 2px solid lightpink;
    background-color: white;
}

.notice{}
.notice ul{
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.notice ul li{
    display: flex;
    justify-content: space-between;
}
.notice ul li a{
    width: 75%;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    overflow: hidden;
}
.notice ul li span{}


.gallery{}
.gallery ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.gallery ul li{}

.banner{}
.banner p{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 165px;
    border-top: 2px solid lightpink;
    background-color: white;
}

/* footer영역 */
#footer{
    width: 100%;
    height: 100px;
    /* background-color: tomato; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px dotted gray;
}

.f_logo{}
.copy{
    text-align: center;
    width: 600px;
    padding: 10px 0;
    border-left: 1px dotted gray;border-right: 1px dotted gray;}
.family{}
.family select{height: 30px;}


/* modal팝업 */
.modal{
    position: absolute;
    left: 0; top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    display: none;
}
.pop{
    width: 300px;
    height: 400px;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border: 2px black solid;
    padding: 20px;
    display: none;
}
.pop h3{
    font-size: 25px;
    margin-bottom: 15px;
}
.pop p{
    text-align: justify;
}
.close{
    width: 90px;
    height: 20px;
    margin: 160px;
}
