@charset "utf-8";
*{margin: 0;padding: 0;box-sizing: border-box;}
ul , ol, li{
    list-style: none;
}
a{text-decoration: none; color: inherit;}
body{
    background: #fff;
    color: #333;
    font-family: "맑은 고딕";
    font-size: 14px;
}